<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>
<p>
Splurty was create by <a target="_blank" herf="https://github.com/mahalocode/troy">Tom<a/>
</p>
<br />
<p>
 Tom chose to explore his creative side by joining <a target="_blank" herf="https://www.thefirehoseproject.com/">The firehose project web development bootcamp</a>
 </p>

 <div class="col-xs-12 col-sm-4">
 <%= image_tag 'tom.jpg', class: 'image-responsive' %>
</div>

<div class="col-xs-12 col-sm-offset-1">
<h2 class="text-center">Tom yotwongjai</h2>
<br />
<p>
  Tom is a student at Firehose Project. He aspire to be a web developer. New to web development community but hope to gain experience to land a dream career and also making friends along the way.
  </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
