/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
 @import url(https://fonts.googleapis.com/css?family=Oxygen:700);
 @import "bootstrap-sprockets";
 @import "bootstrap";


body {
    background: grey;
    background-repeat: no-repeat;
}

.clear {
  clear:both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: red;
    border: 1px solid #F7F7F7;
    width: 110px;
    height: 100px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

 .slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 26x;
  color:purple;
}
.links {
  padding-top:26px;

}

.links a {
  color:blue;
  font-size: 15px;
  text-align: right;
}

header {
    border-top: 0px;
}

hr { clear:both; 
}

h1 {
    font-family: 'Oxygen', sans-serif;
}

h2 {
    font-family: 'Oxygen', sans-serif;
}

.next-quote {
    color:blue;
    font-family: 'nobilemedium_italic', sans-serif;
    font-size:20px;
}

footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: left;
  font-size:5px;
}

.logo:hover {
  text-decoration:none;
}

.about{
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

@media (max-width: 750px) {
  .footer-blurp {
    text-align: left;
  }
}

h2 span {
  color: #dddddd;
  font-family: 'nobileregular', sans-serif;
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

::selection {
  background-color: #f84342;
}

.about {
  text-align: center;
}

.image-responsive {
  align-self: center;
}